html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    margin: 0;
    
}

strong, b, h1, h2, h3, h4 {
	font-weight: bold;
}

hr {
    background: black;
    border: 0;
    height: 2px;
    margin: 2rem 0;
    width: 100%;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    // tr {
    //     // border-bottom: 1px solid black;
    // }

    // td {
    //     padding: 0.5rem;
    // }
}

.minwidth {
    min-width: 10em;
    max-width: 30em;
    vertical-align: top;
}

img[class=post] {
    width: 100%;
    margin: 0.5rem 0;
}

div[class=container] {
    margin: 0 auto;
    max-width: 50rem;
    padding: 1rem;
}

nav {
    ul {
        list-style: none;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
        }
    }
    a, a:hover {
        margin: 0.5rem;
        text-transform: lowercase;
        font-weight: bold;
        text-decoration: underline;
    }
}

footer {
    margin: 2rem 0;
}

.btn {
    font: bold;
    background-color: #FFFFFF;
    color: #333333;
    margin-left: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
  }